<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Burgers</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../public/assets/css/burger_style.css" type="text/css" />
</head>

<body class="container">
    <!-- {{{ body }}} -->
    <div class="container-fluid">
    	<div class="row">		
    		<div class="container col-md-12" style="background-color: black; margin-top: 5px;">
                <div class="jumbotron" style="background-color: #ffdae0; margin-top: 5px; background-image:/public/img/burger.jpg;">
                    <div style="text-align:center; ">
                        <h1>EAT-DA-BURGERS</h1>
                        <input type="text" placeholder="   Enter Burger you want to eat" style="width: 300px; border:solid; border-color: red; border-width: .2px; border-radius: 2px; height: 30px; font-size: 15px;">
                       <button type="submit" class="btn btn-warning" style="margin-left: 15px;">Submit</button>
                    </div>
            
                    <div class="row" style="margin-top: 3px;">
                        
                        <!-- left side -->
                		<div class="col-md-6" style="height: 400px; overflow-y: scroll; width: 460px;">
                			<div style="border: solid; border-color: red; border-width: .2px; border-radius: 5px; width:400px; padding: 5px;  margin-top: 20px; text-align: center;">
                					<p>Grilled Cheese Burger</p>
                	                <button type="button" class="btn btn-warning">Devour It!</button>
                	        </div>  
                	        <div style="border: solid; border-color: red; border-width: .2px; border-radius: 5px; width:400px; padding: 5px;  margin-top: 20px; text-align: center;">
                					<p>Grilled chicken Burger</p>
                	                <button type="button" class="btn btn-warning">Devour It!</button>
                	        </div>  
                	        <div style="border: solid; border-color: red; border-width: .2px; border-radius: 5px; width:400px; padding: 5px;  margin-top: 20px; text-align: center;">
                					<p>Grilled beef Burger</p>
                	                <button type="button" class="btn btn-warning">Devour It!</button>
                	        </div>  
                	        <div style="border: solid; border-color: red; border-width: .2px; border-radius: 5px; width:400px;padding: 5px;  margin-top: 20px; text-align: center;">
                					<p>Big Mac Burger</p>
                	                <button type="button" class="btn btn-warning">Devour It!</button>
                	        </div>        
                		</div>

                        <!-- Right side -->
                		<div class="col-md-6"  style="height: 400px; overflow-y: scroll; width: 460px; margin-left: 50px;">
                			<div>
                                <div style="border: solid; border-color: red; border-width: .2px; border-radius: 5px; width:400px; padding: 5px; margin-top: 20px;">
                                    <p>Garlic Chicken Burger</p>
                                </div>
                            </div>
                            <div>
                                <div style="border: solid; border-color: red; border-width: .2px; border-radius: 5px; width:400px; padding: 5px;  margin-top: 20px;">
                                    <p>Jalpeno Cheddar Grilled Burger</p>
                                </div>
                            </div>
                            <div>
                                <div style="border: solid; border-color: red; border-width: .2px; border-radius: 5px; width:400px; padding: 5px;  margin-top: 20px;">
                                    <p>Grilled Bbq Burger</p>
                                </div>
                            </div>
                		</div>
            	    </div>
                    <!-- footer -->
                	<div class="row">
                		<div class="col-md-12" style="background-color: black; color:white; text-align: center; height: 50px; width: 100%; margin-top: 30px; border-radius: 2px; padding: 15px;">
                		  <p>Copyright@ Elmas Sayed 2017</p>
                		</div>
                    </div>
                </div>
            </div>
        </div>            
    </div>
		
</body>

</html>